__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.env
venv/
.venv
*.egg-info/
dist/
build/
.DS_Store
.env
.env.local
*.db
*.log
expenses.db
backend/expenses.db
node_modules/
.npm
frontend/node_modules
.next
.idea/
.vscode/
*.swp
*.swo
*~
